---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kubearmor-config
  namespace: flux-system
spec:
  dependsOn:
    - name: kubearmor-hr
  path: ./ch4/clusters/security/infra/kubearmor/config
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 1m0s
  retryInterval: 1m0s
  timeout: 5m0s